.hover {
	&:hover {
		cursor: pointer;
	}
}

.custom-select {
	display: flex;
	margin-top: 15px;
	width: 220px;
}

.custom-switch {
	width: 40px;
	height: 20px;
}

.head-custom {
	background-color: rgb(208, 220, 220);
	border-radius: 5px;
	padding: 8px;

	border-bottom: 1px solid #a6c7b9;
}
